
/* Cores do site */
:root {
    --cor1      : #DF2849;
    --fundo     : #fff8e5;
    --hellok1   : #FF76AF;
    --hellok2   : #FFAFD1;
    --pochacco1 : #46B9FD;
    --pochacco2 : #ACE1F4;
    --kuromi1   : #9047A6;
    --kuromi2   : #E3A6F6;
    --chococat1 : #58465d;
    --chococat2 : #b29cb8;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: var(--fundo);
    height: 9999px;
}

header {
    position: sticky;
    top: 0;
    background-color: var(--cor1);
    z-index: 999;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    
    color: white;
}

nav i {
    width: 100px;
    cursor: pointer;
}

.banner {
    position: relative;
}

.banner .fundo {
    display: block;
    width: 100%;
    height: auto;
}

.banner .frente {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 40%;
    height: auto;
}

.personagens {
    display: block;
    text-align: center;
}

.personagens > img {
    width: 90%;
    height: auto;
}

.escolha {
    display: flex;
    flex-direction: column;
}

.escolha img {
    width: 20%;
    height: auto;
}